<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibDB</title>
    <link rel="stylesheet" href="../../css/cadastro.css">
    <script type="module" src="/templates/login/anime.js"></script>
    <script type="module" src="/templates/login/cadastro.js"></script>
</head>
<body>
           <section id="login">
            <div id="login-container">
                <h1 id="login-title"><alt=""> MYLibrary</h1>
                <h3 id="login-subtitle">Seja Bem-vindo </h3>
                <p id="login-sub">Realize seu cadastro para continuar</p>
                <form id="login-form">
            <div></div>
                
                <label id="text-nome" for="nome-input">Nome:</label> 
                <input type="text" id="nome-input" class="text-input" placeholder="Seunome">
                
                <label id="text-email" for="email-input">Email: </label>
                <input type="email" id="email-input" class="text-input" placeholder="user123@gmail.com">
                
                <label id="text-senha" for="passowrd-input">Senha: </label>
                <input type="password" id="password-input" class="text-input" placeholder="*******">
                
               
                <div id="login-checkboxes">
                    <div>
                        <input type="checkbox" name="ver-senha"  id="show-password-checkbox">
                        <label class="text-ver" for="ver-senha">Mostrar senha</label>
                    </div>
                    <div>
                        <input type="checkbox" name="lembre-se"  id="remember-me-checkbox">
                        <label class="text-lembre" for="">Lembre-se</label>
                    </div>
                    
                    
                </div>
                <div id="login-buttons">
                    <button class="login-button" type="submit">Cadastrar</button>
                    <button id="register-button" type="button">Mudar para tela de login</button>
                </div>
            </form>
        </div>
        </section>
  
    
    
</body>
</html>