<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="templates/home/livros_carrossels.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <title>Home - LibDB</title>
</head>
<body>
    <section id="home">
        <h1 id="minha-biblioteca-titulo">Biblioteca Virtual</h1>
        <section id="navbar">
            <input type="text" placeholder="Digite um autor, livro ou tema...">
            <button id="buscar-button" type="submit">Buscar</button>
        </section>
        
        <section id="livros-container">
            <div id="sidebar">

            </div>
            <div id="carrossel-container">
                <button id="livros-carrossel-button-left" class="livros-carrossel-button"><</button>
                <div id="livros-autores">
                    <h1 id="livros-autor"></h1>
                <div id="livros-carossels"></div>
                
            </div>
                <button id="livros-carrossel-button-right" class="livros-carrossel-button"> > </button>
            </div>
                
            </div>
        </section>
    </section>

</body>
</html>