<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - LibDB</title>
</head>
<body>
    <section id="home">
            <section id="navbar">
                <search id="barra-pesquisa">
            </search>
        </section>

        <section id="livros-container">
            <div id="sidebar">

            </div>
            <div>
                
            </div>
        </section>
    </section>

</body>
</html>